<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Battleship | Project</title>
    </head>
    <body>
        <div class="justBiggerDiv">
            <h1 class="justH1">Battleship Game Project</h1>
            <a href="./battleship.html">
                <div class="justDiv">
                    <p>Click Me To Proceed To The Battleship Game Page</p>
                </div>
            </a>
        </div>
    </body>
</html>